<div class="container">
  <div class="row">
    <div class="col-xs-4 item-photo">
      <img style="max-width:100%;" src="http://allegro.fass24.pl/AUKCJE/KLAPP/3/img/1/6.png" />
    </div>
    <div class="col-xs-5" style="border:0px solid gray">
      <h3><%= "#{@magazine.productname}"%></h3>
      <h5 style="color:#337ab7"></h5>
      <h6 class="title-price"><small>CENA</small></h6>
      <h3 style="margin-top:0px;">...</h3>
      <div class="section" style="padding-bottom:5px;">
        <h6 class="title-attr"><small>WYMIARY</small></h6>
        <% @magazine.product_structures.each do |product_structures| %>
        <div>
          <div class="attr2"><%= product_structures.label %> - <%= product_structures.value %></div>

        </div>
        <% end %>
      </div>
  </div>
</div>




