<table id="datatable-orders" class="display responsive nowrap" cellspacing="0" width="100%" data-source="<%= orders_url(format: "json") %>" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th class="col-6 col-sm-2">Nr. FV</th>
    <th class="col-6 col-sm-2">Nazwa</th>
    <th class="col-6 col-sm-2">Zysk</th>

  </tr>
  </thead>
  <tbody>
  <% @task_months.each do |month,order| %>
  <td>
      <%= month.strftime('%B') %>
      <% for order in order %>
          <div class='task'>
            <strong>  </strong>
          <td>  due on <%= order.created_at.to_s(:long) %></td>
          </div>
      <% end %>
  </tr>
  <% end %>
  </tbody>

</table>

<%=  @task_months %>
