// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-invoice > .btn:first-child:not(:last-child):not(.dropdown-toggle) {

}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #4CAF50;
  border-color: #4CAF50;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
}
#radioBtn .notActive {
  color: #3276b1;
  background-color: #fff;
}
.btn-sm, .btn-group-sm>.btn {
  /* padding: 5px 10px; */
  font-size: 12px;
  margin-left: -6px;
  margin-right: 0px;
  line-height: 1.8;
  border-radius: 3px;
}
