<footer id="footer-Section">
  <div class="footer-top-layout">
    <div class="container">
      <div class="row">
        <div class="OurBlog">
          <h4></h4>
          <p></p>
          <div class="post-blog-date"></div>
        </div>
        <div class=" col-lg-8 col-lg-offset-2">
          <div class="col-sm-4">
            <div class="footer-col-item">
              <h4>Adress</h4>
              <address>

              </address>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footer-col-item">
              <h4>Reach Us</h4>
              <div class="item-contact"> <a href="tel:"><span class="link-id">P</span>:<span></span></a> <a href="tel:"><span class="link-id">F</span>:<span></span></a> <a href="mailto:wegrzyn_pawel@outlook.com"><span class="link-id">E</span>:<span>wegrzyn_pawel@outlook.com</span></a> </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footer-col-item">
              <h4>Sign up for Newsletter</h4>
              <form class="signUpNewsletter" action="" method="get">
                <input name="" class="gt-email form-control" placeholder="" type="text">
                <input name="" class="btn-go" value="Go" type="button">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-layout">
    <div class="socialMedia-footer"> </div>
    <div class="copyright-tag">Copyright 2017. Ruby on Rails developer <a href="https://github.com/dartho2">Paweł Węgrzyn</a></div>
  </div>
</footer>